@charset 'utf-8';

/* Hilfe */
div[data-template='hilfe-texteingabe'] .k-text em {
font-style: normal;
font-weight: normal;
color: magenta;
background: rgba(255,255,255,.7);
padding: 0 .2em .1em .2em;
box-decoration-break: clone;
margin: 0 .05em;
}

div[data-template='hilfe-texteingabe'] .k-text hr {
height: .1em;
border: none;
margin: 2em 0;
background: black;
}
/* /Hilfe */

/* Menüfarbe (nicht zu dunkel!) */
.k-panel-menu,
.k-panel-menu-toggle .k-button-icon {
background: rgb(240,140,0);
}